<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=meventhubstorage;AccountKey=1fkOpVLiTJ0nyeM8O+xV5bXUaFMCQ6uKukYAQxpRtibKYOO3YdFRjCZKA5vSSAyJc9GjfrwJRrDUYbDEg29tsg==" />
  </appSettings>
</configuration>